.btn-primary {
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    font-weight: bold;
    background: #515585;
    transition: background 0.3s ease;
}
.btn-primary:hover {
    color: #151965;
    padding: 15px 25px;
    border-radius: 4px;
    font-weight: bold;
    background: #46b5d1;
    transition: background 0.3s ease;
}
